In [1]:
import torch
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import ListedColormap
import numpy as np
from Data_Handling.SGTEHandler.Development.SGTEHandler import SGTEHandler
from Neural_Nets.Classification.ClassificationDataset.Development.ClassificationDataset import *

In [4]:
seq_len = 5
measurement = 'C'

dc = DatasetCreator(r"C:\Users\danie\Documents\Montanuni\Masterarbeit\4_Daten\Elements.xlsx", elements=None, 
                   splits=(0.8, 0.2), validation=False, seq_len=seq_len, measurement=measurement, stable_only=True)

C
Ag
      Temperature  Measurements
0           299.0     25.399605
1           300.0     25.402830
2           301.0     25.406078
3           302.0     25.409348
4           303.0     25.412640
...           ...           ...
1696       1995.0     33.472000
1697       1996.0     33.472000
1698       1997.0     33.472000
1699       1998.0     33.472000
1700       1999.0     33.472000

[1701 rows x 2 columns]
C
Al
      Temperature  Measurements
0           299.0     24.307489
1           300.0     24.325443
2           301.0     24.343300
3           302.0     24.361059
4           303.0     24.378719
...           ...           ...
1696       1995.0     31.748192
1697       1996.0     31.748192
1698       1997.0     31.748192
1699       1998.0     31.748192
1700       1999.0     31.748192

[1701 rows x 2 columns]
C
As
     Temperature  Measurements
0          299.0     24.679140
1          300.0     24.686300
2          301.0     24.693443
3          302.0     24.700567
4          303.0     24.707676
..           ...           ...
897       1196.0     29.216038
898       1197.0     29.216038
899       1198.0     29.216038
900       1199.0     29.216038
901       1200.0     29.216038

[902 rows x 2 columns]
C
Au
      Temperature  Measurements
0           299.0     25.420191
1           300.0     25.422810
2           301.0     25.425459
3           302.0     25.428141
4           303.0     25.430855
...           ...           ...
1696       1995.0     30.961599
1697       1996.0     30.961599
1698       1997.0     30.961599
1699       1998.0     30.961599
1700       1999.0     30.961599

[1701 rows x 2 columns]
C
B
      Temperature  Measurements
0           299.0     11.140939
1           300.0     11.207659
2           301.0     11.273823
3           302.0     11.339437
4           303.0     11.404509
...           ...           ...
1696       1995.0     29.520933
1697       1996.0     29.524021
1698       1997.0     29.527109
1699       1998.0     29.530195
1700       1999.0     29.533281

[1701 rows x 2 columns]
C
Ba
      Temperature  Measurements
0           299.0     28.192905
1           300.0     28.301670
2           301.0     28.409386
3           302.0     28.516071
4           303.0     28.621738
...           ...           ...
1696       1995.0     36.508080
1697       1996.0     36.503769
1698       1997.0     36.499462
1699       1998.0     36.495152
1700       1999.0     36.490845

[1701 rows x 2 columns]
C
Be
      Temperature  Measurements
0           299.0     16.422470
1           300.0     16.472469
2           301.0     16.522034
3           302.0     16.571175
4           303.0     16.619890
...           ...           ...
1696       1995.0     29.722902
1697       1996.0     29.725052
1698       1997.0     29.727200
1699       1998.0     29.729349
1700       1999.0     29.731499

[1701 rows x 2 columns]
C
Bi
      Temperature  Measurements
0           299.0     25.526937
1           300.0     25.532383
2           301.0     25.537930
3           302.0     25.543575
4           303.0     25.549324
...           ...           ...
1696       1995.0     27.195999
1697       1996.0     27.195999
1698       1997.0     27.195999
1699       1998.0     27.195999
1700       1999.0     27.195999

[1701 rows x 2 columns]
C
C
      Temperature  Measurements
0           299.0      8.562018
1           300.0      8.592265
2           301.0      8.622600
3           302.0      8.653024
4           303.0      8.683517
...           ...           ...
1696       1995.0     25.087368
1697       1996.0     25.089321
1698       1997.0     25.091272
1699       1998.0     25.093222
1700       1999.0     25.095171

[1701 rows x 2 columns]
C
Ca
      Temperature  Measurements
0           299.0     25.942520
1           300.0     25.944843
2           301.0     25.947361
3           302.0     25.950075
4           303.0     25.952982
...           ...           ...
1696       1995.0     35.000000
1697       1996.0     35.000000
1698       1997.0     35.000000
1699       1998.0     35.000000
1700       1999.0     35.000000

[1701 rows x 2 columns]
C
Cd
      Temperature  Measurements
0           299.0     25.951876
1           300.0     25.963387
2           301.0     25.974907
3           302.0     25.986439
4           303.0     25.997978
...           ...           ...
1297       1596.0     29.706400
1298       1597.0     29.706400
1299       1598.0     29.706400
1300       1599.0     29.706400
1301       1600.0     29.706400

[1302 rows x 2 columns]
C
Ce
      Temperature  Measurements
0           299.0     26.956522
1           300.0     26.968397
2           301.0     26.980305
3           302.0     26.992241
4           303.0     27.004208
...           ...           ...
1696       1995.0     37.697800
1697       1996.0     37.697800
1698       1997.0     37.697800
1699       1998.0     37.697800
1700       1999.0     37.697800

[1701 rows x 2 columns]
C
Co
      Temperature  Measurements
0           299.0     25.290331
1           300.0     25.308533
2           301.0     25.326641
3           302.0     25.344654
4           303.0     25.362576
...           ...           ...
1696       1995.0     40.500011
1697       1996.0     40.500011
1698       1997.0     40.500011
1699       1998.0     40.500011
1700       1999.0     40.500011

[1701 rows x 2 columns]
C
Cr
      Temperature  Measurements
0           299.0     23.622051
1           300.0     23.647287
2           301.0     23.672403
3           302.0     23.697411
4           303.0     23.722309
...           ...           ...
1696       1995.0     54.555542
1697       1996.0     54.587196
1698       1997.0     54.618870
1699       1998.0     54.650558
1700       1999.0     54.682266

[1701 rows x 2 columns]
C
Cs
      Temperature  Measurements
0           201.0     27.803535
1           202.0     27.826839
2           203.0     27.849911
3           204.0     27.872784
4           205.0     27.895489
...           ...           ...
1794       1995.0     62.417610
1795       1996.0     62.474411
1796       1997.0     62.531265
1797       1998.0     62.588165
1798       1999.0     62.645111

[1799 rows x 2 columns]
C
Cu
      Temperature  Measurements
0           299.0     24.457876
1           300.0     24.470539
2           301.0     24.483122
3           302.0     24.495626
4           303.0     24.508055
...           ...           ...
1696       1995.0     31.379999
1697       1996.0     31.379999
1698       1997.0     31.379999
1699       1998.0     31.379999
1700       1999.0     31.379999

[1701 rows x 2 columns]
C
Dy
      Temperature  Measurements
0           200.0     33.032028
1           201.0     32.838577
2           202.0     32.654373
3           203.0     32.478783
4           204.0     32.311222
...           ...           ...
1795       1995.0     49.915100
1796       1996.0     49.915100
1797       1997.0     49.915100
1798       1998.0     49.915100
1799       1999.0     49.915100

[1800 rows x 2 columns]
C
Er
      Temperature  Measurements
0           299.0     28.085810
1           300.0     28.088669
2           301.0     28.091524
3           302.0     28.094378
4           303.0     28.097229
...           ...           ...
1696       1995.0     38.702000
1697       1996.0     38.702000
1698       1997.0     38.702000
1699       1998.0     38.702000
1700       1999.0     38.702000

[1701 rows x 2 columns]
C
Eu
      Temperature  Measurements
0           299.0     26.121367
1           300.0     26.132425
2           301.0     26.143379
3           302.0     26.154232
4           303.0     26.164986
...           ...           ...
1597       1896.0     38.116241
1598       1897.0     38.116241
1599       1898.0     38.116241
1600       1899.0     38.116241
1601       1900.0     38.116241

[1602 rows x 2 columns]
C
Fe
      Temperature  Measurements
0           299.0     24.865646
1           300.0     24.890408
2           301.0     24.915083
3           302.0     24.939672
4           303.0     24.964182
...           ...           ...
1508       1807.0     41.314514
1509       1808.0     41.322422
1510       1809.0     41.330334
1511       1810.0     41.338261
1512       1811.0     46.000019

[1513 rows x 2 columns]
C
Ga
      Temperature  Measurements
0           201.0     23.876213
1           202.0     23.923714
2           203.0     23.969475
3           204.0     24.013542
4           205.0     24.055992
...           ...           ...
1794       1995.0     26.487196
1795       1996.0     26.487797
1796       1997.0     26.488400
1797       1998.0     26.489002
1798       1999.0     26.489605

[1799 rows x 2 columns]
C
Gd
      Temperature  Measurements
0           201.0     34.416718
1           202.0     34.548828
2           203.0     34.682755
3           204.0     34.818512
4           205.0     34.956139
...           ...           ...
1794       1995.0     38.507500
1795       1996.0     38.507500
1796       1997.0     38.507500
1797       1998.0     38.507500
1798       1999.0     38.507500

[1799 rows x 2 columns]
C
Ge
      Temperature  Measurements
0           299.0     23.362722
1           300.0     23.381340
2           301.0     23.399734
3           302.0     23.417908
4           303.0     23.435862
...           ...           ...
1696       1995.0     27.614401
1697       1996.0     27.614401
1698       1997.0     27.614401
1699       1998.0     27.614401
1700       1999.0     27.614401

[1701 rows x 2 columns]
C
Hf
      Temperature  Measurements
0           299.0     25.692514
1           300.0     25.697445
2           301.0     25.702410
3           302.0     25.707407
4           303.0     25.712437
...           ...           ...
1696       1995.0     39.273361
1697       1996.0     39.281654
1698       1997.0     39.289948
1699       1998.0     39.298241
1700       1999.0     39.306534

[1701 rows x 2 columns]
C
Hg
      Temperature  Measurements
0           201.0     27.306742
1           202.0     27.338642
2           203.0     27.370739
3           204.0     27.403036
4           205.0     27.435537
...           ...           ...
1794       1995.0     31.329498
1795       1996.0     31.332611
1796       1997.0     31.335724
1797       1998.0     31.338835
1798       1999.0     31.341948

[1799 rows x 2 columns]
C
Ho
      Temperature  Measurements
0           299.0     27.161030
1           300.0     27.169037
2           301.0     27.177017
3           302.0     27.184971
4           303.0     27.192894
...           ...           ...
1696       1995.0     43.931999
1697       1996.0     43.931999
1698       1997.0     43.931999
1699       1998.0     43.931999
1700       1999.0     43.931999

[1701 rows x 2 columns]
C
In
      Temperature  Measurements
0           299.0     26.399899
1           300.0     26.418970
2           301.0     26.438066
3           302.0     26.457190
4           303.0     26.476337
...           ...           ...
1696       1995.0     27.381819
1697       1996.0     27.382622
1698       1997.0     27.383429
1699       1998.0     27.384235
1700       1999.0     27.385044

[1701 rows x 2 columns]
C
Ir
      Temperature  Measurements
0           299.0     25.092680
1           300.0     25.095875
2           301.0     25.099098
3           302.0     25.102350
4           303.0     25.105633
...           ...           ...
1696       1995.0     37.540070
1697       1996.0     37.551556
1698       1997.0     37.563049
1699       1998.0     37.574547
1700       1999.0     37.586052

[1701 rows x 2 columns]
C
K
      Temperature  Measurements
0           201.0     26.823986
1           202.0     26.855968
2           203.0     26.887215
3           204.0     26.917759
4           205.0     26.947639
...           ...           ...
1794       1995.0     53.855003
1795       1996.0     53.893997
1796       1997.0     53.933029
1797       1998.0     53.972092
1798       1999.0     54.011181

[1799 rows x 2 columns]
C
La
      Temperature  Measurements
0           299.0      27.11451
1           300.0      27.11710
2           301.0      27.11969
3           302.0      27.12228
4           303.0      27.12487
...           ...           ...
1696       1995.0      34.30880
1697       1996.0      34.30880
1698       1997.0      34.30880
1699       1998.0      34.30880
1700       1999.0      34.30880

[1701 rows x 2 columns]
C
Li
      Temperature  Measurements
0           201.0     21.579044
1           202.0     21.634380
2           203.0     21.688801
3           204.0     21.742331
4           205.0     21.794989
...           ...           ...
1794       1995.0     31.234161
1795       1996.0     31.239334
1796       1997.0     31.244511
1797       1998.0     31.249693
1798       1999.0     31.254881

[1799 rows x 2 columns]
C
Lu
      Temperature  Measurements
0           299.0     26.779297
1           300.0     26.781265
2           301.0     26.783194
3           302.0     26.785088
4           303.0     26.786943
...           ...           ...
1696       1995.0     47.906799
1697       1996.0     47.906799
1698       1997.0     47.906799
1699       1998.0     47.906799
1700       1999.0     47.906799

[1701 rows x 2 columns]
C
Mg
      Temperature  Measurements
0           299.0     24.875843
1           300.0     24.891636
2           301.0     24.907328
3           302.0     24.922920
4           303.0     24.938417
...           ...           ...
1696       1995.0     34.308800
1697       1996.0     34.308800
1698       1997.0     34.308800
1699       1998.0     34.308800
1700       1999.0     34.308800

[1701 rows x 2 columns]
C
Mn
      Temperature  Measurements
0           299.0     26.294575
1           300.0     26.319593
2           301.0     26.344507
3           302.0     26.369322
4           303.0     26.394035
...           ...           ...
1696       1995.0     48.000000
1697       1996.0     48.000000
1698       1997.0     48.000000
1699       1998.0     48.000000
1700       1999.0     48.000000

[1701 rows x 2 columns]
C
Mo
      Temperature  Measurements
0           299.0     23.889244
1           300.0     23.904316
2           301.0     23.919289
3           302.0     23.934160
4           303.0     23.948933
...           ...           ...
1696       1995.0     36.222229
1697       1996.0     36.234356
1698       1997.0     36.246498
1699       1998.0     36.258648
1700       1999.0     36.270817

[1701 rows x 2 columns]
C
N
      Temperature  Measurements
0           299.0     13.112803
1           300.0     13.121146
2           301.0     13.129443
3           302.0     13.137691
4           303.0     13.145894
...           ...           ...
1696       1995.0     17.966000
1697       1996.0     17.966866
1698       1997.0     17.967730
1699       1998.0     17.968592
1700       1999.0     17.969456

[1701 rows x 2 columns]
C
Na
      Temperature  Measurements
0           201.0     26.008160
1           202.0     26.033676
2           203.0     26.058765
3           204.0     26.083445
4           205.0     26.107731
...           ...           ...
1794       1995.0     39.971485
1795       1996.0     39.992878
1796       1997.0     40.014290
1797       1998.0     40.035728
1798       1999.0     40.057178

[1799 rows x 2 columns]
C
Nb
      Temperature  Measurements
0           299.0     24.447788
1           300.0     24.462547
2           301.0     24.477169
3           302.0     24.491661
4           303.0     24.506021
...           ...           ...
1696       1995.0     33.973221
1697       1996.0     33.981243
1698       1997.0     33.989273
1699       1998.0     33.997303
1700       1999.0     34.005341

[1701 rows x 2 columns]
C
Nd
      Temperature  Measurements
0           299.0     27.416943
1           300.0     27.430700
2           301.0     27.444439
3           302.0     27.458160
4           303.0     27.471861
...           ...           ...
1497       1796.0     48.785400
1498       1797.0     48.785400
1499       1798.0     48.785400
1500       1799.0     48.785400
1501       1800.0     48.785400

[1502 rows x 2 columns]
C
Ni
      Temperature  Measurements
0           299.0     25.761810
1           300.0     25.779312
2           301.0     25.796869
3           302.0     25.814480
4           303.0     25.832146
...           ...           ...
1696       1995.0     43.099998
1697       1996.0     43.099998
1698       1997.0     43.099998
1699       1998.0     43.099998
1700       1999.0     43.099998

[1701 rows x 2 columns]
C
Np
      Temperature  Measurements
0           299.0     29.641851
1           300.0     29.664427
2           301.0     29.687597
3           302.0     29.711355
4           303.0     29.735693
...           ...           ...
1696       1995.0     45.396400
1697       1996.0     45.396400
1698       1997.0     45.396400
1699       1998.0     45.396400
1700       1999.0     45.396400

[1701 rows x 2 columns]
C
O
      Temperature  Measurements
0           299.0     14.687877
1           300.0     14.689983
2           301.0     14.692140
3           302.0     14.694344
4           303.0     14.696594
...           ...           ...
1696       1995.0     18.896988
1697       1996.0     18.898149
1698       1997.0     18.899311
1699       1998.0     18.900471
1700       1999.0     18.901632

[1701 rows x 2 columns]
C
Os
      Temperature  Measurements
0           299.0     24.709778
1           300.0     24.713587
2           301.0     24.717394
3           302.0     24.721203
4           303.0     24.725012
...           ...           ...
1696       1995.0     31.169062
1697       1996.0     31.172871
1698       1997.0     31.176678
1699       1998.0     31.180487
1700       1999.0     31.184296

[1701 rows x 2 columns]
C
P
      Temperature  Measurements
0           251.0     19.669170
1           252.0     19.709904
2           253.0     19.750187
3           254.0     19.790031
4           255.0     19.829443
...           ...           ...
1744       1995.0     26.326000
1745       1996.0     26.326000
1746       1997.0     26.326000
1747       1998.0     26.326000
1748       1999.0     26.326000

[1749 rows x 2 columns]
C
Pa
      Temperature  Measurements
0           299.0     27.627123
1           300.0     27.639549
2           301.0     27.651978
3           302.0     27.664404
4           303.0     27.676830
...           ...           ...
1696       1995.0     47.279202
1697       1996.0     47.279202
1698       1997.0     47.279202
1699       1998.0     47.279202
1700       1999.0     47.279202

[1701 rows x 2 columns]
C
Pb
      Temperature  Measurements
0           299.0     26.843132
1           300.0     26.851326
2           301.0     26.859524
3           302.0     26.867725
4           303.0     26.875927
...           ...           ...
1696       1995.0     29.478458
1697       1996.0     29.480516
1698       1997.0     29.482576
1699       1998.0     29.484634
1700       1999.0     29.486694

[1701 rows x 2 columns]
C
Pd
      Temperature  Measurements
0           299.0     25.208771
1           300.0     25.226547
2           301.0     25.244095
3           302.0     25.261417
4           303.0     25.278521
...           ...           ...
1696       1995.0     41.169998
1697       1996.0     41.169998
1698       1997.0     41.169998
1699       1998.0     41.169998
1700       1999.0     41.169998

[1701 rows x 2 columns]
C
Pr
      Temperature  Measurements
0           299.0     27.464321
1           300.0     27.484520
2           301.0     27.504269
3           302.0     27.523579
4           303.0     27.542461
...           ...           ...
1696       1995.0     42.969700
1697       1996.0     42.969700
1698       1997.0     42.969700
1699       1998.0     42.969700
1700       1999.0     42.969700

[1701 rows x 2 columns]
C
Pt
      Temperature  Measurements
0           299.0     25.869831
1           300.0     25.876057
2           301.0     25.882271
3           302.0     25.888474
4           303.0     25.894665
...           ...           ...
1696       1995.0     36.813961
1697       1996.0     36.824913
1698       1997.0     36.835873
1699       1998.0     36.846840
1700       1999.0     36.857815

[1701 rows x 2 columns]
C
Pu
      Temperature  Measurements
0           299.0     31.526979
1           300.0     31.571800
2           301.0     31.616619
3           302.0     31.661438
4           303.0     31.706259
...           ...           ...
1696       1995.0     42.248001
1697       1996.0     42.248001
1698       1997.0     42.248001
1699       1998.0     42.248001
1700       1999.0     42.248001

[1701 rows x 2 columns]
C
Rb
      Temperature  Measurements
0           201.0     27.453476
1           202.0     27.484642
2           203.0     27.514847
3           204.0     27.544144
4           205.0     27.572609
...           ...           ...
1794       1995.0     57.436661
1795       1996.0     57.493713
1796       1997.0     57.550842
1797       1998.0     57.608078
1798       1999.0     57.665375

[1799 rows x 2 columns]
C
Re
      Temperature  Measurements
0           299.0     25.024185
1           300.0     25.033463
2           301.0     25.042690
3           302.0     25.051867
4           303.0     25.060993
...           ...           ...
1696       1995.0     30.664528
1697       1996.0     30.667479
1698       1997.0     30.670431
1699       1998.0     30.673386
1700       1999.0     30.676344

[1701 rows x 2 columns]
C
Rh
      Temperature  Measurements
0           299.0     24.906294
1           300.0     24.922060
2           301.0     24.937746
3           302.0     24.953354
4           303.0     24.968882
...           ...           ...
1696       1995.0     44.262287
1697       1996.0     44.280869
1698       1997.0     44.299469
1699       1998.0     44.318089
1700       1999.0     44.336716

[1701 rows x 2 columns]
C
Ru
      Temperature  Measurements
0           299.0     23.987900
1           300.0     24.003786
2           301.0     24.019585
3           302.0     24.035301
4           303.0     24.050932
...           ...           ...
1696       1995.0     38.671093
1697       1996.0     38.685963
1698       1997.0     38.700848
1699       1998.0     38.715752
1700       1999.0     38.730663

[1701 rows x 2 columns]
C
S
      Temperature  Measurements
0           299.0     22.711746
1           300.0     22.737110
2           301.0     22.762375
3           302.0     22.787540
4           303.0     22.812611
...           ...           ...
998        1297.0     32.001080
999        1298.0     32.000641
1000       1299.0     32.000198
1001       1300.0     31.999741
1002       1301.0     32.000000

[1003 rows x 2 columns]
C
Sb
      Temperature  Measurements
0           299.0     25.239267
1           300.0     25.249546
2           301.0     25.259712
3           302.0     25.269768
4           303.0     25.279713
...           ...           ...
1696       1995.0     31.379999
1697       1996.0     31.379999
1698       1997.0     31.379999
1699       1998.0     31.379999
1700       1999.0     31.379999

[1701 rows x 2 columns]
C
Sc
      Temperature  Measurements
0           299.0     25.531160
1           300.0     25.541382
2           301.0     25.551517
3           302.0     25.561565
4           303.0     25.571531
...           ...           ...
1696       1995.0     44.224899
1697       1996.0     44.224899
1698       1997.0     44.224899
1699       1998.0     44.224899
1700       1999.0     44.224899

[1701 rows x 2 columns]
C
Se
     Temperature  Measurements
0          299.0     25.084789
1          300.0     25.106583
2          301.0     25.128407
3          302.0     25.150267
4          303.0     25.172161
..           ...           ...
697        996.0     35.145599
698        997.0     35.145599
699        998.0     35.145599
700        999.0     35.145599
701       1000.0     35.145599

[702 rows x 2 columns]
C
Si
      Temperature  Measurements
0           299.0  1.143936e+06
1           300.0  1.147761e+06
2           301.0  1.151587e+06
3           302.0  1.155413e+06
4           303.0  1.159239e+06
...           ...           ...
1696       1995.0  2.719600e+01
1697       1996.0  2.719600e+01
1698       1997.0  2.719600e+01
1699       1998.0  2.719600e+01
1700       1999.0  2.719600e+01

[1701 rows x 2 columns]
C
Sm
      Temperature  Measurements
0           299.0     28.119030
1           300.0     28.170994
2           301.0     28.222954
3           302.0     28.274916
4           303.0     28.326876
...           ...           ...
1696       1995.0     50.208000
1697       1996.0     50.208000
1698       1997.0     50.208000
1699       1998.0     50.208000
1700       1999.0     50.208000

[1701 rows x 2 columns]
C
Sn
      Temperature  Measurements
0           200.0     24.292238
1           201.0     24.314665
2           202.0     24.336868
3           203.0     24.358856
4           204.0     24.380630
...           ...           ...
1795       1995.0     33.443352
1796       1996.0     33.413616
1797       1997.0     33.383862
1798       1998.0     33.354073
1799       1999.0     33.324249

[1800 rows x 2 columns]
C
Sr
      Temperature  Measurements
0           299.0     26.798935
1           300.0     26.808455
2           301.0     26.817980
3           302.0     26.827511
4           303.0     26.837046
...           ...           ...
1696       1995.0     39.463001
1697       1996.0     39.463001
1698       1997.0     39.463001
1699       1998.0     39.463001
1700       1999.0     39.463001

[1701 rows x 2 columns]
C
Ta
      Temperature  Measurements
0           299.0     25.310257
1           300.0     25.314402
2           301.0     25.318548
3           302.0     25.322699
4           303.0     25.326851
...           ...           ...
1696       1995.0     30.952333
1697       1996.0     30.956909
1698       1997.0     30.961491
1699       1998.0     30.966078
1700       1999.0     30.970673

[1701 rows x 2 columns]
C
Tb
      Temperature  Measurements
0           299.0     28.920033
1           300.0     28.929588
2           301.0     28.938618
3           302.0     28.947136
4           303.0     28.955147
...           ...           ...
1696       1995.0     46.484200
1697       1996.0     46.484200
1698       1997.0     46.484200
1699       1998.0     46.484200
1700       1999.0     46.484200

[1701 rows x 2 columns]
C

Tc
      Temperature  Measurements
0           299.0     24.677830
1           300.0     24.693247
2           301.0     24.708570
3           302.0     24.723799
4           303.0     24.738935
...           ...           ...
1696       1995.0     36.096752
1697       1996.0     36.102692
1698       1997.0     36.108635
1699       1998.0     36.114578
1700       1999.0     36.120518

[1701 rows x 2 columns]
C
Te
      Temperature  Measurements
0           299.0     25.542892
1           300.0     25.553139
2           301.0     25.563217
3           302.0     25.573132
4           303.0     25.582888
...           ...           ...
2599       1596.0     32.559601
2600       1597.0     32.559601
2601       1598.0     32.559601
2602       1599.0     32.559601
2603       1600.0     32.559601

[2604 rows x 2 columns]
C
Th
      Temperature  Measurements
0           299.0     26.249235
1           300.0     26.257807
2           301.0     26.266365
3           302.0     26.274912
4           303.0     26.283447
...           ...           ...
1696       1995.0     39.598610
1697       1996.0     39.611252
1698       1997.0     39.623886
1699       1998.0     39.636551
1700       1999.0     39.649216

[1701 rows x 2 columns]
C
Ti
     Temperature  Measurements
0          299.0     25.168337
1          300.0     25.188324
2          301.0     25.208202
3          302.0     25.227974
4          303.0     25.247639
..           ...           ...
597        896.0     31.860437
598        897.0     31.869247
599        898.0     31.878056
600        899.0     31.886864
601        900.0     31.895668

[602 rows x 2 columns]
C
Tl
      Temperature  Measurements
0           201.0     24.504032
1           202.0     24.531502
2           203.0     24.558670
3           204.0     24.585543
4           205.0     24.612125
...           ...           ...
1596       1797.0     29.229733
1597       1798.0     29.230984
1598       1799.0     29.232235
1599       1800.0     29.233486
1600       1801.0     29.234741

[1601 rows x 2 columns]
C
Tm
      Temperature  Measurements
0           299.0     27.031971
1           300.0     27.035809
2           301.0     27.039551
3           302.0     27.043198
4           303.0     27.046753
...           ...           ...
1696       1995.0     41.379761
1697       1996.0     41.379761
1698       1997.0     41.379761
1699       1998.0     41.379761
1700       1999.0     41.379761

[1701 rows x 2 columns]
C
U
      Temperature  Measurements
0           299.0     27.681118
1           300.0     27.700264
2           301.0     27.719406
3           302.0     27.738546
4           303.0     27.757683
...           ...           ...
1696       1995.0     48.660000
1697       1996.0     48.660000
1698       1997.0     48.660000
1699       1998.0     48.660000
1700       1999.0     48.660000

[1701 rows x 2 columns]
C
V
      Temperature  Measurements
0           299.0     24.367399
1           300.0     24.383501
2           301.0     24.399496
3           302.0     24.415390
4           303.0     24.431181
...           ...           ...
1696       1995.0     41.889126
1697       1996.0     41.905285
1698       1997.0     41.921452
1699       1998.0     41.937626
1700       1999.0     41.953812

[1701 rows x 2 columns]
C
W
      Temperature  Measurements
0           299.0     24.168272
1           300.0     24.178198
2           301.0     24.188057
3           302.0     24.197849
4           303.0     24.207577
...           ...           ...
1696       1995.0     31.937597
1697       1996.0     31.944176
1698       1997.0     31.950758
1699       1998.0     31.957348
1700       1999.0     31.963942

[1701 rows x 2 columns]
C
Y
      Temperature  Measurements
0           200.0     25.123180
1           201.0     25.141054
2           202.0     25.158735
3           203.0     25.176229
4           204.0     25.193537
...           ...           ...
1795       1995.0     43.095200
1796       1996.0     43.095200
1797       1997.0     43.095200
1798       1998.0     43.095200
1799       1999.0     43.095200

[1800 rows x 2 columns]
C
Yb
      Temperature  Measurements
0           299.0     26.731697
1           300.0     26.727093
2           301.0     26.722755
3           302.0     26.718685
4           303.0     26.714882
...           ...           ...
1696       1995.0     36.777401
1697       1996.0     36.777401
1698       1997.0     36.777401
1699       1998.0     36.777401
1700       1999.0     36.777401

[1701 rows x 2 columns]
C
Zn
      Temperature  Measurements
0           299.0     25.403645
1           300.0     25.411615
2           301.0     25.419601
3           302.0     25.427601
4           303.0     25.435617
...           ...           ...
1397       1696.0     31.379999
1398       1697.0     31.379999
1399       1698.0     31.379999
1400       1699.0     31.379999
1401       1700.0     31.379999

[1402 rows x 2 columns]